/* style.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    display: block; /* Reverts to block-level layout */
    width: 100%; /* Ensures it spans the full width */
}

nav {
    background-color: #1c1c1c; /* Slightly lighter dark for contrast */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

section {
    display: none; /* Initially hide sections */
    padding: 20px 0;
}

.banner {
    background-image: url('images/banner.jpg'); /* Relative path to the banner image */
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    text-align: center;
}

.banner h1 {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 40px;
}

.banner h2 {
    margin-top: 10px;
    color: #ffffff;
    font-size: 20px;
}

.banner h1, .banner h2 {
    color: #ffffff; /* Your existing text color */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
         1px 1px 0 #000; /* Black text shadow */
    /* Other existing styles */
}


.container.gpts a {
    color: aqua;
    margin-bottom: 10px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items in one row */
    gap: 20px; /* Space between grid items */
}

.grid-item {
    text-align: center;
    padding: 10px; /* Add padding for spacing */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for the effect */
}


.grid-item img {
    width: 100%; /* Make image take full width of the grid item */
    max-width: 150px; /* Limiting the maximum width */
    height: auto;
    margin: 5px;
    margin-bottom: 0px;
    border-radius: 10px; /* Adjust this value to control the roundness */
}

.icon-description {
    margin-bottom: 1px; /* Space between description and link */
    color: #ffffff; /* Set the color for visibility in dark mode */
    font-weight: bold;
}

.gpt-icon-text {
    margin-bottom: 1px; /* Space between description and link */
    color: #adadad; /* Set the color for visibility in dark mode */
    font-style: italic;
}

.grid-item a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block; /* For center alignment */
}


/* Specific flex layout for ChatGPT Prompts section */
#chatgpt-prompts {
    display: flex;
    flex-direction: row; /* Align children in a row */
    width: 100%; /* Take full width of the container */
    padding: 15px;
    padding-top: 50px;
    padding-left: 10px;
}

/* Default block layout for other sections */
#youtube, #gpts, #guides {
    display: block;
    /* ... other styles ... */
}

.header-section-desc {
    color:#dcdcdc;
    font-size:small;
}

.gpts-store-link {
    color: #3697ff;
    margin-bottom:20px;
}


#chatgpt-prompt-title {
    margin-bottom: 20px; /* Adjust as needed for vertical space */
    font-weight: bold;
}

#homepage-prompt-title {
    margin-bottom: 20px; /* Adjust as needed for vertical space */
    font-weight: bold;
}



.sidebar {
    flex: 0 0 220px; /* Don't grow, don't shrink, start at 250px width */
    width: 220px; /* Adjust width as needed */
    /*background-color: #2a2a2a;*/
    background-color: #1c1c1c;
    height: 80vh; /* Full viewport height */
    overflow-y: auto; /* Scrollable */
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.main-content {
    flex-grow: 1;
    padding: 0px;
    overflow-y: auto; /* Scrollable */
}

.prompt-detail {
    display: none;
}





.homepage-container .home-section {
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 15px;
}

#chatgpt-prompts-home {
    display: flex;
    height: 25vh;
    overflow-y: auto;
    padding: 10px;
    /* Additional styles for ChatGPT Prompts section */
}

/*
.sidebar {
    flex: 1;
}
*/

.prompt-content {
    flex: 2; /* Adjust as needed */
    /* Additional styling */
}

#gpts-home {
    display: flex;
    min-height: 22vh;
    flex-wrap: wrap;
    justify-content: space-around; /* This will space out your items evenly */
}

.gpts-home .grid-item {
    flex-basis: 30%; /* Adjust this value as needed */
    margin: 10px; /* Optional, for spacing out items */
}



/* Styles for the About section */
#background-info {
    height: auto; /* Adjust height as needed */
    background-image: url('path_to_background_image.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    min-height: auto;
}

#background-info img {
    width: 50%; /* Adjust size as needed */
    height: auto;
    margin-top: 20px;
}


/* Ensure other sections don't inherit homepage-specific styles */
.container > section {
    padding: 20px; /* Consistent padding for all sections */
    /* Styles for other sections */
}

.homepage-container {
    text-align: left;
    /* other styles... */
}

.container-homepage-title-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-chatgpt-title-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.homepage-content-title, .main-content-title {
    text-align: left; /* Align text to the left */
    margin-bottom: 10px; /* Space below the title */
    /* Additional styling as needed */
}


.youtube-video {
    text-align: center; /* Center the video */
    margin: 20px 0; /* Add some margin around the video */
    margin-bottom: 30px;
}

.youtube-video iframe{
    border-radius: 18px; /* Adjust this value to control the roundness */
}




.footer-content {
    text-align: center; /* Center content within the footer */
}

.site-footer {
    background-color: #292929; /* Lighter gray color */
    color: #ffffff; /* Text color */
    padding: 7px;
    text-align: center;
    list-style: none;
}

.site-footer li {
    margin-bottom: 7px; /* Spacing between items */
    text-align: center;
}

.site-footer ul {
    display: inline-block; /* Allows the list to be sized by its content */
    padding: 0;
    margin: 0; /* Remove default margin */
    text-align: left; /* Left align the list items */
    list-style: none; /* Optional: Removes bullet points */
}

.site-footer a {
    color: #3697ff; /* Link color */
    text-decoration: none;
    display: block; /* Makes the padding/margin consistent */
    /* Add padding or margin as needed to align */
}

.site-footer a:hover {
    text-decoration: underline;
}



/*
.highlighted-section {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
}
*/
.button:hover, button:hover, a.button:hover {
    background-color: #e0e0e0; /* Light grey background on hover */
    color: #333; /* Darker text color */
    /* Other styling as needed */
}


nav a:hover, .sidebar a:hover {
    background-color: #313131; /* Light grey background on hover */
    color: #ffffff; /* Darker text color */
    border-radius: 10px; /* Adjust this value to control the roundness */
    /* Other styling as needed */
}



.grid-item:hover {
    background-color: #313131; /* Light grey background on hover */
    padding: 5px 5px;
    transform: scale(1.05); /* Slightly scale up the item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow for depth */
}

.active-nav-link {
    background-color: #313131;
    color: #ffffff;
    border-radius: 10px; /* Adjust this value to control the roundness */
    padding: 8px 10px;
}


.active-prompt {
    background-color: #313131; /* A lighter shade for the background */
    color: #ffffff; /* Keeping the text color darker for contrast */
    border-radius: 10px; /* Adjust this value to control the roundness */
    /* Other styling as needed */
}

#background-info img {
    border-radius: 10px; /* Adjust this value to control the roundness */
}



@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .banner h1 {
        font-size: 30px;
    }

    .banner h2 {
        font-size: 15px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on smaller screens */
        grid-row-gap: 20px; /* Add space between rows */
    }

    .grid-item img {
        max-width: 100px; /* Smaller icons on smaller screens */
        border-radius: 10px; /* Adjust this value to control the roundness */
    }

    .homepage-container .home-section {
        height: auto; /* Adjust height for smaller screens */
        overflow-y: visible; /* Consider changing overflow behavior on small screens */
    }

    

    /* Other responsive adjustments */
}

/* Additional styling for buttons, links, etc. */
